<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBC_oxAOY7c93Sh9PUQJ9IwIAp2jzSHjps</string>
	<key>GCM_SENDER_ID</key>
	<string>897858266902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.timsmith.pollsplus</string>
	<key>PROJECT_ID</key>
	<string>pollsplus-75f89</string>
	<key>STORAGE_BUCKET</key>
	<string>pollsplus-75f89.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897858266902:ios:9b5304670c7c1859ea1237</string>
</dict>
</plist>